html, body, #root, .container {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0;
  background: #061c30;
  color: rgb(204, 204, 204);
  direction: rtl;
}

@import 'loaders.css/src/animations/ball-scale.scss';

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
